<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Weather Node App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="./img/rob.png" alt="robot"/>
        </div>


        {{>footer}}
        
        
        
        <script src="" async defer></script>
    </body>
</html>